    .main_page{
        margin: 0px auto;
        margin-top: 60px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding: 4%;
        padding-top: 4%;
        padding-right: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        border: 3px solid #104788;
        border-top-width: 3px;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgb(16, 71, 136);
        border-right-color: rgb(16, 71, 136);
        border-bottom-color: rgb(16, 71, 136);
        border-left-color: rgb(16, 71, 136);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
        background-color: #F0F0F0;
        box-shadow: 0 0 10px 0 #000000;
    }
    .mainText{

    }
    .secondHeader {
        font-size: 150%;
        color: #00254E;
    }
    .leftDiv {
        display: inline-block;
        width: 15%;
    }
    .rightDiv {
        display: inline-block;
        width: 70%;
        align: text-top;
        vertical-align: top;
        padding-left: 5%;
    }
    div .smallHr {
        background: #999;
        height: 1px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .main_page hr {
        background-color: #ECB200;
        height: 3px;
        border: none;
    }
    .main_page hr {
        background-color: #ECB200;
        height: 3px;
        border: none;
    }